:root{
    --container-color:#A382C3;
    --setup-color:#E5DBEF;
    --text-color:#000000;
    --button-color:linear-gradient(to right ,#5f3481,#b784d7 );
    --page-color:linear-gradient(to right ,#FDFCFE,#BAA0D4 );
    --hover-color:#251742;
    
    
    }
    body{
        color: var(--text-color);
        background-size: cover;
        background: var(--page-color);
        size: 16px;
        font-family: Arial, Helvetica, sans-serif;
        }
        .wrapper{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-columns: auto, auto;
            grid-template-areas: "container  Company";
            align-items: center;
            padding : 5%;
            column-gap: 0;
            margin: 0px;
            }
            
  .Dashboardwrapper{
                display: grid;
                grid-template-columns: 1fr  4fr;
                grid-template-columns: auto, auto;
                grid-template-areas: "sidebar  dashboard";
                padding : 0;
                column-gap: 0;
                margin: 0px;
                height: 100vh;
                }
     
.dashboard-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 10px;
    padding-top: 20px;
}
.subdashboardcontent {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 15px;
    padding-top: 20px;
    
}
.dashboard-header  {
top: 0px;
font-size: 30px;
margin-top: 0;
}

.dashboard-content > :nth-child(2) {
    background: rgb(232, 76, 76);
}
.dashboard-content > :nth-child(1) {
    background: #C2C0FF;
}
.dashboard-content > :nth-child(3) {
    background: #7E76F6;
}
.dashboard-content > :nth-child(4) {
    background:#A18EB5;
}
.dashboard-content > :nth-child(n+5) {
    grid-column: span 1;
}
.subdashboardcontent > :nth-child(n+10) {
    grid-column: span 1;
}

.sidebar {
    grid-area: sidebar;
    background-color: var(--container-color);
    padding: 5px;
    align-items: center;
    text-align: center;
    height: 100%; 
    justify-content: center; 
}

.sidebar p a {
    color:whitesmoke;
    text-decoration: none;
    padding: 5px 0;
    display: flex;
    padding-left: 80px;
    width: 100%;
    text-align: center;
}

.sidebar p a:hover {
    color:var(--text-color);
    background-color: var(--setup-color);
    width: 150px;
    
}
.sidebar p a:active {
    color:#251742;
    width: 150px;
    
}

.sidebar .company-info {
    text-align: center;
    margin-bottom: 20px;
}

.dashboard {
    padding-top: 0%;
    grid-area: dashboard;
    padding: 20px;
   
}


.dashboard-content div {
    background: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.subdashboardcontent div {
    background: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.dashboard-content div p {
    margin: 10px 0;
}
 

       
            button , input[type="file"]::file-selector-button{
                background: var(--button-color);
                color: white;
                border-radius: 48px;
                height: 40px;
                border: solid 1px;
                min-width: 200px;
    }
button:hover , input[type="file"]::file-selector-button:hover{
    background: var(--hover-color);
    color: white;
    }
    #container{
        background-color: var(--container-color);
        border-radius: 38px;
        margin: 0;
        height: 600px;
        display: flex;
        justify-content: center;
        align-items: center;
        }
#container-info{
            text-align: center;
            width: 450px;
            font-size: 30px;
        }
#Company-setup{
            background-color: var(--setup-color);
            margin: 0;
            height: 520px;
            align-items: center;
            width: 474px;
            border-radius: 38px;
            align-items: center;
            }
            
            h1 {
                padding-top: 30px;
                text-align: center;
                }
                #btn {
                    padding-left: 120px;
                    }
                    #container-info {
                        font-family: monospace;
                        display: inline-block;
                        overflow: hidden;
                        white-space: nowrap;
                        border-right: 2px solid black;
                        animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
                        
                        }
                        @keyframes typing {
                            from { width: 0; }
                            to { width: 65%; }
                            }
        @keyframes blink-caret {
            from, to { border-color: transparent; }
            50% { border-color: black; }
        }
        form {
            display: flex;
            flex-direction: column;
            width: 100%;
        }
        
        #form-group {
            position: relative;
            margin: 20px 0 20px 20px;
            align-items: center;
            justify-content: center;
        }
        
        #form-group input[type="text"],
        #form-group input[type="tel"],
        #form-group input[type="email"],
        #form-group input[type="password"],
        #form-group input[type="file"] {
            width: 80%;
            border: none;
            outline: none;
            border-bottom: 2px solid black;
            background: none;
            border-radius: 30px;
            padding-left: 15px;
    
            ;
        }
        
        #form-group input[type="file"] {
            border: none;
            outline: none;
            font-family: sans-serif;
           color: var(--text-color);
        }
        
        #form-group input::placeholder {
            color: transparent;
        }
        
        #form-group label {
            position: absolute;
            left: 0;
            bottom: 5px; 
            color: var(--text-color);
            transition: all 0.2s ease;
            pointer-events: none;
            padding-left: 15px;

        }
        #form-group input[type="text"]:focus + label,#form-group input[type="email"]:focus + label,#form-group input[type="tel"]:focus + label,#form-group input[type="password"]:focus + label,
        #form-group input[type="password"]:not(:placeholder-shown) + label,
        #form-group input[type="text"]:not(:placeholder-shown) + label,#form-group input[type="email"]:not(:placeholder-shown) + label,#form-group input[type="tel"]:not(:placeholder-shown) + label  {
            transform: translateY(-30px);
            font-size: 12px;
            color: var(--container-color); 
        }
        #form-group input[type="file"]:focus + label, #form-group input[type="file"]:not(:placeholder-shown) + label {
            bottom: 40px;
            color: var(--text-color); 
        }
#Select{
    padding-left: 30px ;
    display: flex;
    flex-direction: column;
    gap: 3px;
}
 .add-button{
    padding-left: 700px;
    margin-bottom: 15px;
}
table {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    border-collapse: collapse;
    border-bottom: 1px solid black;
    
    
}

td,  th {
    border-bottom: 1px solid black;
    padding: 8px;

}

tr:nth-child(even){background-color: var(--container-color);}
tr:nth-child(odd){background-color: var(--setup-color);}

tr:hover {background-color: rgb(223, 222, 222);}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgb(223, 222, 222);
    color:var(--text-color);
    border-collapse: collapse;
    /* border: 1px solid black; */
    font-family: 'Courier New', Courier, monospace;
}
.error-message{
    color: red;
    
}








